body{ 
    background: rgb(66,66,67);
    background: linear-gradient(90deg, rgba(66,66,67,1) 0%, rgba(246,251,251,1) 38%, rgba(172,174,174,1) 64%, rgba(208,208,208,1) 86%, rgba(138,131,131,1) 99%); 
}
.btn-primary{
    background-color: #343a40 !important;
    border-color:#343a40 !important;
}
#canvas{
    border:2px solid white;
    background-color : white;
}

.canvasBesar{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu{
    display: flex;
    padding-top : 500px;
    padding-left : 550px;
}

.goToLingkaran{
    margin: 5px;
}

.goToLurus{
    margin:5px;
}